.Menu-Pintura h1 {
  height: 10rem;
}
.Contenido-Principal{
  background-color: rgba(230,240,255,1);
}
.Informacion-Pintura h1 span{
  opacity: 0;
  display: inline-block;
  transform: translateY(20px);
  animation: aparecer 0.35s ease-out forwards;
  font-style: italic;
}
.Informacion-Pintura h1{
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 35px;
}
@keyframes aparecer{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.Informacion-Pintura h3{
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Informacion-Pintura p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  padding: 25px;
  max-width: 31rem ;
  margin: 5rem auto;
  animation: DeslizarDerecha 1.2s ease-out forwards;
}
@keyframes DeslizarDerecha{
  from{
    transform: translateX(60px);
    opacity: 0;
  }to{
    transform: translateX(0);
    opacity: 1;
  }
}
.grid-container-pintura{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px , 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}
.grid-container-pintura span{
  font-size: 8px;
  display: flex;
  justify-content: end;
}
.grid-item-pintura{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
}
.grid-item-pintura img{
  width: 100%;
  height: auto;
  max-width: 200%;
  object-fit: cover;
  border-radius: 8px;
}
