.Menu-Principal-Noticias {
  align-items: center;
  background-color: rgba(230, 240, 255, 1);
}
.Informacion-Noticia  span {
  opacity: 0;
  display: inline-block;
  transform: translateY(20px);
  animation: aparecer 0.35s ease-out forwards;
}
@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.titulo-Bienvenida{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-style: italic;
}
.Informacion-Noticia h3 {
  font-size: 20px;
  font-style: italic;
}
.Menu-Titulo {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

/*Diseño para los conetenedores de noticias*/
.grid-container-noticias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 20px;
}

.grid-item-noticias {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.grid-item-noticias img {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

/*Diseño para mejor el fondo*/
.Informacion-Noticia h3 {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 20px;
}
.Informacion-Noticia p {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.Contenedor-principal label {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 25px;
  animation: aparecerDesdeArribaConRebote 1.2s ease-out forwards;
}

@keyframes aparecerDesdeArribaConRebote {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  60% {
    transform: translateY(30px);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.num-Id {
  display: flex;
  justify-content: end;
  font-size: 8px;
}
