.InformacioNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(230,240,255,1);
}
.InformacioNosotros h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: Poopin, sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.MisionP,
.ObjetivoP {
  max-width: 60%;
  margin: 20px auto;
  background-color: rgb(85 149 181 / 88%);
  box-shadow: 10px 15px 10px rgb(68 68 68 / 50%);
  color: #000000;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 25px;
  opacity: 0;
  animation: aparecerDesdeIzquierda 1.2s ease-out forwards;
}
.Menu-Objetivo{
padding: 0 0 30px;
}


@keyframes aparecerDesdeIzquierda {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.VisionP {
  max-width: 60%;
  margin: 20px auto;
  background-color: rgb(85 149 181 / 88%);
    box-shadow: 10px 15px 10px rgb(68 68 68 / 50%);
  color: #000000;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 25px;
  opacity: 0;
  animation: aparecerDesdeDerecha 1.2s ease-out forwards;
}

@keyframes aparecerDesdeDerecha {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.Ubicacion {
  max-width: 45%;
  margin: 20px auto;
  background-color: rgba(2, 108, 161, 0.881);
  box-shadow: 10px 15px 10px rgb(68 68 68 / 50%);
  border-radius: 10px;
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.25, 0.9, 0.25, 1);
  animation:  aparecerDesdeDerecha 1.2s ease-out forwards;
}
.Ubicacion:hover{
  transform: translateY(-5px);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}
@keyframes aparecerDesdeDerecha {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.ubicacionMaps{
    padding: 20px;
}
.ubicacionMaps iframe{
    border-radius: 20px;

}
.contenedor-horario-ubicaicon{
  display: flex;
  justify-content: space-around;
  gap:20px;
  padding: 20px 0 0 0;
}
.Horario{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Horario  h2{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.Horario  p{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}