.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    background: linear-gradient(90deg,red,blue,green);
    height: 12rem;
    border-radius: 5px;
}
.nav-log{
font-family: Outfit;
font-size: 30px;
gap:20px
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 90px;
    text-decoration: underline;
}

.navLogo{
    width: 100px;
    border-radius: 50px;
}
.nav-contact{
border-radius: 50px;
padding: 10px 38px;
background: #fff;
color:#004e9c;
}
.nav .ColoresFondo{
color:rgba(red, green, blue, alpha)
}
.colorTexto{
    color: white;
    list-style: none;
}
.nav-menu .ColoresFondo{
    list-style: none;
}