.Informacion-Pintura h3 span{
  opacity: 0;
  display: inline-block;
  transform: translateY(20px);
  animation: aparecer 0.3s ease-out forwards;
}
@keyframes aparecer{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.grid-container-shop {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .grid-item-shop {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
  }
  
  .grid-item-shop img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  .num-Id{
    display: flex;
    justify-content: end;
  }