.BienvenidaApp {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.InformacionRelevante{
  max-width: 37rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  line-height: 1.5;
  background-color:#0026af33;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  transition:transform 0.5s cubic-bezier(0.25,0.9,0.25,1)

}
.InformacionRelevante:hover{
  transform: translateY(-5px);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);

}
.Introdccuion_Duart{
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MarcasAliadas{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}



.slider-container{
overflow: hidden;
white-space: nowrap;
position: relative;
width: 100%;
padding: 10px 0;
background: #fff;
}

.slider{
  display: flex;
  width: max-content;
  animation:scroll 25s linear infinite;
}
.slider img{
  width: 150px;
  height: auto;
  margin: 0 15px;
}
@keyframes scroll {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}
