.background {
  width: 100%;
  height: 50%;
  object-fit: cover; 
  z-index: -1; /* Esto asegura que la imagen o video cubra completamente el contenedor */
  position: fixed; /* Asegura que la imagen de fondo esté fija en la pantalla */
  top: 0;
  left: 0;
}

.videoPrincipal {
  width: 100%;
  height: 300px; /* Ajusta esta altura según tus necesidades */
  position: relative;
  overflow: hidden;
}

.videoPrincipal video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Asegúrate de que el navbar tenga un z-index mayor */
.navbar {
  position: relative;
  z-index: 1; /* Ajusta este valor según sea necesario */
}